<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/style.css">

  <title>USERS</title>
</head>

<body>
  <section class="container">
    
    <h2>LIST OF USERS</h2>
    
    <div class="scroll-table">
      <table class="order-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <% produtos.forEach(function(produtos){ %>
              <tr>
                <td><%= produtos.nome %></td>
                <td><%= produtos.marca %></td>
                <td><%= produtos.tipo %></td>
                <td><%= produtos.preco %></td>
                <td><%= produtos.quantidade %></td>
                <td><%= produtos.descricao %></td>
                <td><a class="button-edit" href="/api/edit/<%= produtos._id %>"></a></td>
                <td><a class="button-delete" href="/api/delete/<%= produtos._id %>" onclick="return confirm('Tem certeza que deseja excluir?');"></a></td>
              </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="add">
      ADD PRODUTO:
      <a class="button-addUser" name="Add user" href="/api/add"></a>
    </div>
  </section>
    </body>
    
    </html>